#card-list .capture-card .view{
	font-size: 16px;
	position: absolute;
	top: 12px;
	left: 15px;
	font-weight: 100;
	width:150px;
	line-height: 25px;
}

#card-list .capture-card .saving {
	font-size: 10px;
	display: block;	
	position: absolute;
	top: 15px;
	left: 165px;
	font-weight: 100;
}

#card-list .capture-card .tab_for_options {
	font-size: 10px;
	display: block;	
	position: absolute;
	top: 50px;
	left: 165px;
	font-weight: 100;
}

#card-list .capture-card .highlight1{
	background-color: #00FF00;
	position: absolute;
	top: 77px;
	left: 16px;
	width: 10px;
	height: 10px;
}

#card-list .capture-card .highlight1_words{
	position: absolute;
	font-size: 12px;
	top: 70px;
	left: 30px;
	width: 10px;
	height: 10px;
}

#card-list .capture-card .highlight2{
	background-color: red;
	position: absolute;
	top: 77px;
	left: 93px;
	width: 10px;
	height: 10px;
}


#card-list .capture-card .highlight2_words{
	position: absolute;
	font-size: 12px;
	top: 70px;
	left: 108px;
	width: 10px;
	height: 10px;
}

#card-list .capture-card .footer_time {
	font-size: 11px;
	position: absolute;
	top: 120px;
	left: 30px;
	font-weight: 100;
	width: 200px;
	line-height: 25px;
}

#card-list .capture-card .footer_location {
	font-size: 11px;
	position: absolute;
	top: 120px;
	left: 102px;
	font-weight: 100;
	width: 200px;
	line-height: 25px;
}

#card-list .capture-card .footer_dots {
	font-size: 430px;
	position: absolute;
	top: 120px;
	left: 215px;
	font-weight: 100;
	width: 100px;
	line-height: 25px;
}

#card-list .capture-card .icon_bell {
	font-size: 30px;
	position: absolute;
	top: 125px;
	left: 12px;
	z-index: 5;
}

#card-list .capture-card .icon_pin {
	font-size: 30px;
	position: absolute;
	top: 125px;
	left: 85px;
}

#card-list .capture-card .icon_microphone {
	font-size: 30px;
	position: absolute;
	top: 125px;
	left: 210px;
}
