#card-list .complete-card .complete {
	font-size: 30px;
	position: absolute;
	top: 60px;
	left: 105px;
	font-weight: 100;
}

#card-list .complete-card .icon {
	font-size: 30px;
	position: absolute;
	top: 50px;
	left: 55px;
}
