#card-list .edit-time-date-card .edit-time-date {
	font-size: 22px;
	position: absolute;
	top: 60px;
	left: 72px;
	font-weight: 100;
}

#card-list .edit-time-date-card .icon {
	font-size: 30px;
	position: absolute;
	top: 50px;
	left: 22px;
}


#card-list .edit-time-date-card .icon_microphone {
	font-size: 30px;
	position: absolute;
	top: 90px;
	left: 72px;
}

#card-list .edit-time-date-card .voice {
	font-size: 11px;
	position: absolute;
	top: 85px;
	left: 92px;
	font-weight: 100;
	width: 100px;
	line-height: 25px;
}
