#card-list .edit-tag-card .edit-tag {
	font-size: 26px;
	position: absolute;
	top: 60px;
	left: 100px;
	font-weight: 100;
}

#card-list .edit-tag-card .icon {
	font-size: 30px;
	position: absolute;
	top: 50px;
	left: 40px;
}
