#card-list .edit-time-card .edit-time {
	font-size: 26px;
	position: absolute;
	top: 60px;
	left: 90px;
	font-weight: 100;
}

#card-list .edit-time-card .icon {
	font-size: 30px;
	position: absolute;
	top: 50px;
	left: 40px;
}
