#card-list .ok-glass-card .okglass {
	position: absolute;
	top: 20px;
	left: 10px;
}

#card-list .ok-glass-card .options {
	position: absolute;
	top: 20px;
	left: 70px;
}
#card-list .ok-glass-card .say {
	color: red;
	position: relative;
	top:10px;
	left: -30px;
	line-height: 15px;
}
