#card-list .view-card .view{
	font-size: 17px;
	position: absolute;
	top: 12px;
	left: 17px;
	font-weight: 100;
	width:200px;
	line-height: 25px;
}

#card-list .view-card .highlight1{
	background-color: #00FF00;
	position: absolute;
	top: 72px;
	left: 18px;
	width: 10px;
	height: 10px;
}

#card-list .view-card .highlight1_words{
	position: absolute;
	top: 65px;
	left: 32px;
	width: 10px;
	height: 10px;
}

#card-list .view-card .highlight2{
	background-color: red;
	position: absolute;
	top: 72px;
	left: 100px;
	width: 10px;
	height: 10px;
}


#card-list .view-card .highlight2_words{
	position: absolute;
	top: 65px;
	left: 115px;
	width: 10px;
	height: 10px;
}